<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      The core strategy of credify is to provide rewards to employees for accomplishing a specific task.
      the reward point may include achievement badges,points,levels or virtual currency.
      WORK MORE,SHOP MORE!!!
    </p>