<div class="center hero-unit">
  <% if signed_in? %>
  
  <h1>Welcome <%= current_user.name %></h1>
  
  <%= link_to "Continue", user_path(current_user), class: "btn btn-large btn-primary" %>
  
  <% else %>
  <h1>Welcome to Credify</h1>

  <h2>
    WORK MORE,SHOP MORE!!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


<% end %>
