<% provide(:title, 'Redeem') %>
<h1>Redeem</h1>
<p> You can redeem your credits at our <a href="http://www.flipkart.com/">partnerships</a>
<p>To avail cash benifit please send a request to the company manager</p>
  
</p>